#book {
    pointer-events: auto;
    position: absolute;
    background-color: #8EA451;
    display: flex;
    align-items: center;
    transition: 0.5s;
    transition-property: margin-top;
}

#book.hidden {
    margin-top: -100%;
}

#book #spine {
    width: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#book #spine .page {
    position: absolute;
    background-color: crimson;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#book #spine .page.left {
    right: 0;
}

#book #spine .page.right {
    left: 0;
}

#book #spine .page .slot {
    position: relative;
    user-select: none;
    background-color: #9d9d9d;
    border-radius: var(--card-border-radius);
}

#book #spine .page .slot .card {
    margin: 0;
    width: calc(100% - 2 * var(--card-border-width));
    height: calc(100% - 2 * var(--card-border-width));
}