#book {
    pointer-events: auto;
    position: absolute;
    background-color: #8EA451;
    display: flex;
    align-items: center;
}

#book #spine {
    width: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: gray;
}

#book #spine .page {
    position: absolute;
    background-color: crimson;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#book #spine .page.left {
    right: 0;
}

#book #spine .page.right {
    left: 0;
}

#book #spine .page .slot {
    background-color: #967A74;
}