:root {
    /* Colors */
    --card-color-background: #967a74;
    --card-color-border: #242424;

    /* Dimensions */
    --card-width: 220px;
    --card-height: 308px;
    --card-border-width: 2px;
    --card-border-radius: 12px;
}

.card {
    pointer-events: all;
    cursor: pointer;
    position: absolute;
    background-color: var(--card-color-background);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    width: calc(var(--card-width) - 2 * var(--card-border-width));
    height: calc(var(--card-height) - 2 * var(--card-border-width));
    border: var(--card-border-width) solid var(--card-color-border);
    border-radius: var(--card-border-radius);
    margin-left: -110px;
    margin-top: -154px;
}