:root {
    --code-button-color: var(--color-code-10);
    --code-button-padding: 32px;
    --code-button-margin: 16px;
    --code-button-radius: var(--card-border-radius);
    --code-help-radius: 24px;
    --code-shadow-radius: var(--book-shadow-radius);
    --code-shadow-color: var(--book-shadow-color);
    --code-font-size: 32;
    --code-font-height: 22;
    --code-font-padding: 8;
    --code-font-spacing-base: 1.1;
    --code-font-spacing-top: 1.35;
    --code-font-color: var(--color-white);
    --code-background: #00000066;
}

#code {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    align-items: center;
    transition: .3s;
}

#code.active {
    background-color: var(--code-background);
    pointer-events: auto;
}

#code .view {
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    position: relative;
}

#code .view * {
    box-shadow: 0 0 var(--code-shadow-radius) var(--code-shadow-color);
}

#code .view canvas {
    border-radius: 50%;
    pointer-events: auto;
}

#code .view button {
    width: 50%;
    background-color: var(--code-button-color);
    padding: var(--code-button-padding);
    margin-top: var(--code-button-margin);
    border-radius: var(--code-button-radius);
}

#code .view button:active {
    background-color: var(--color-white);
}

#code .view button.help {
    width: calc(2 * var(--code-help-radius));
    height: calc(2 * var(--code-help-radius));
    border-radius: var(--code-help-radius);
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
}

#code .view .help-text {
    box-shadow: none;
    position: absolute;
    bottom: 100%;
}

#code .view .help-text p {
    box-shadow: none;
    color: var(--color-white);
    text-align: center;
}