:root {
    /* Environment colors */
    --color-water-deep: #242e38;
    --color-water-shallow: #67a795;
    --color-earth: #D5C28E;
    --color-rock-top: #645154;
    --color-rock-side: #402F31;
    --color-sky: #bdd6e2;

    /* Plant colors */
    --color-grass: #8DA05D;
    --color-cattail-leaf: #606f39;
    --color-cattail-stalk: #a09e7a;
    --color-cattail-capsule: #CECD9B;

    /* Fish colors */
    --color-fish-base-white: #E1E0C4;
    --color-fish-base-black: #292C31;

    --color-fish-detail-gold: #c9b055;
    --color-fish-detail-red: #C84B2F;
    --color-fish-detail-orange: #BE6D42;
    --color-fish-detail-white: #E1E0C4;
}