:root {
    /* Environment colors */
    --color-water-deep: #192f3e;
    --color-water-shallow: #6cb4a9;
    --color-water-filter: #def6ea;
    --color-water-highlight: #a9dbd1;
    --color-earth: #D5C28E;
    --color-rock-top: #645154;
    --color-rock-side: #402F31;
    --color-sky: #bdd6e2;
    --color-rain: #ccd0cf;

    /* Ambient color multipliers */
    --color-ambient-sunny: #fffdee;
    --color-ambient-overcast: #f6f6f6;
    --color-ambient-drizzle: #e9ecec;
    --color-ambient-rain: #deeef6;
    --color-ambient-thunderstorm: #9ea6bf;

    /* Plant colors */
    --color-grass: #8ea451;
    --color-cattail-leaf: #657635;
    --color-cattail-stalk: #a09e7a;
    --color-cattail-capsule: #eceaac;

    /* Fish colors */
    --color-fish-white: #E1E0C4;
    --color-fish-black: #414345;
    --color-fish-gold: #d7933e;
    --color-fish-orange: #cd6142;
    --color-fish-red: #db3030;
    --color-fish-brown: var(--color-rock-top);

    /* Bug colors */
    --color-bug-butterfly-yellow: #d7c89b;
    --color-bug-butterfly-yellow-edge: #f6e0a2;
    --color-bug-butterfly-blue: #bdd7f3;
    --color-bug-butterfly-blue-edge: #8db2e2;
}