:root {
    /* Environment colors */
    --color-water-deep: #242e38;
    --color-water-shallow: #67a795;
    --color-earth: #D5C28E;
    --color-rock-top: #645154;
    --color-rock-side: #402F31;
    --color-sky: #bdd6e2;

    /* Plant colors */
    --color-grass: #8DA05D;
    --color-cattail-leaf: #606f39;
    --color-cattail-stalk: #a09e7a;
    --color-cattail-capsule: #CECD9B;

    /* Fish colors */
    --color-fish-base-1: #ececec;
    --color-fish-base-2: #71a76f;
    --color-fish-base-3: #ad854a;
    --color-fish-base-4: #30788e;
    --color-fish-spots-orange: #cd3712;
}