#fish-icon-defs mask {
    fill: white;
}

#fish-icon-defs #fish-icon-background {
    fill: var(--book-page-slot-color-icon-neutral);
}

#fish-icon-defs #fish-icon-layer-wildcard {
    fill: var(--book-page-slot-color-icon-neutral);
}

#fish-icon-defs .white {
    fill: var(--color-fish-white);
}

#fish-icon-defs .black {
    fill: var(--color-fish-black);
}

#fish-icon-defs .gold {
    fill: var(--color-fish-gold);
}

#fish-icon-defs .orange {
    fill: var(--color-fish-orange);
}

#fish-icon-defs .red {
    fill: var(--color-fish-red);
}

#fish-icon-defs .brown {
    fill: var(--color-fish-brown);
}

#fish-icon-defs .purple {
    fill: var(--color-fish-purple);
}

#fish-icon-defs .blue {
    fill: var(--color-fish-blue);
}

#fish-icon-defs .pink {
    fill: var(--color-fish-pink);
}

#fish-icon-defs .darkblue {
    fill: var(--color-fish-darkblue);
}

#fish-icon-defs .lightpurple {
    fill: var(--color-fish-lightpurple);
}

#fish-icon-defs .teal {
    fill: var(--color-fish-teal);
}

#fish-icon-defs .green {
    fill: var(--color-fish-green);
}

#fish-icon-defs .darkgreen {
    fill: var(--color-fish-darkgreen);
}

#fish-icon-defs .lightbrown {
    fill: var(--color-fish-lightbrown);
}

#fish-icon-defs .bordeaux {
    fill: var(--color-fish-bordeaux);
}