:root {
    --loader-logo-width: 60%;
    --loader-logo-color: var(--color-white);
    --loader-logo-margin: 10%;
    --loader-fade-in: 2s;
    --loader-fade-out: 1s;
    --loader-button-height: 80px;
    --loader-button-margin: 16px;
    --loader-button-border-radius: var(--card-border-radius);
    --loader-button-text-color: var(--color-shrubbery-leaf);
    --loader-button-fade-in: 1.3s;
    --loader-fullscreen-padding: 32px;
    --loader-fullscreen-size: 64px;
    --loader-fullscreen-hover: 8px;
    --loader-fullscreen-border: 8px;
    --loader-fullscreen-corner-size: 30%;
}

#loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, var(--color-shrubbery-leaf), var(--color-grass-a));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: var(--loader-fade-out) opacity;
}

#loader canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#loader-links {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 4rem;
    max-height: 100px;
    padding: 16px;
}

#loader-links .loader-icon {
    width: 4rem;
    margin: auto 0;
    transition: var(--loader-fade-in) opacity;
    transition-timing-function: ease-in;
}

#loader-links .loader-icon svg {
    width: 100%;
    height: 100%;
}

#loader-links:hover .loader-bar {
    opacity: 100%;
}

#loader #loader-discord path,
#loader #loader-website path {
    fill: #FEFFFF;
}

/*#loader #loader-discord svg{*/
/*    height: 100%;*/
/*    width: auto;*/
/*}*/

/*#loader #loader-website svg {*/
/*    !*fill: #FEFFFF;*!*/
/*    height: 85%;*/
/*    width: auto;*/
/*}*/

#loader .loader-icon.invisible,
#loader .loader-bar.invisible {
    opacity: 0;
}

#loader #loader-discord:hover,
#loader #loader-website:hover {
    cursor: pointer;
}

#loader #loader-website:hover path {
    fill: #fca938;
}

#loader #loader-discord:hover path{
    fill: #778BD8;
}

#loader .fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    margin: var(--loader-fullscreen-padding);
    width: var(--loader-fullscreen-size);
    height: var(--loader-fullscreen-size);
    cursor: pointer;
    opacity: 0;
    transition: var(--loader-button-fade-in) opacity;
}

#loader .fullscreen:hover {
    width: calc(var(--loader-fullscreen-size) + 2 * var(--loader-fullscreen-hover));
    height: calc(var(--loader-fullscreen-size) + 2 * var(--loader-fullscreen-hover));
    top: calc(var(--loader-fullscreen-hover) * -1);
    right: calc(var(--loader-fullscreen-hover) * -1);
}

#loader .fullscreen .corner {
    position: absolute;
    width: var(--loader-fullscreen-corner-size);
    height: var(--loader-fullscreen-corner-size);
}

#loader .fullscreen .corner.left-top {
    left: 0;
    top: 0;
    border-left: var(--loader-fullscreen-border) solid var(--color-white);
    border-top: var(--loader-fullscreen-border) solid var(--color-white);
}

#loader .fullscreen .corner.right-top {
    right: 0;
    top: 0;
    border-right: var(--loader-fullscreen-border) solid var(--color-white);
    border-top: var(--loader-fullscreen-border) solid var(--color-white);
}

#loader .fullscreen .corner.left-bottom {
    left: 0;
    bottom: 0;
    border-left: var(--loader-fullscreen-border) solid var(--color-white);
    border-bottom: var(--loader-fullscreen-border) solid var(--color-white);
}

#loader .fullscreen .corner.right-bottom {
    right: 0;
    bottom: 0;
    border-right: var(--loader-fullscreen-border) solid var(--color-white);
    border-bottom: var(--loader-fullscreen-border) solid var(--color-white);
}

#loader .fullscreen.loaded {
    opacity: 1;
}

#loader.finished {
    opacity: 0;
    pointer-events: none;
}

#loader-graphics {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: var(--loader-logo-margin);
    flex-direction: column;
}

#loader-slots {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    align-items: center;
    align-content: center;
}

#loader-slots .loader-slot {
    width: 25%;
    height: 100%;
    margin-left: calc(var(--loader-button-margin) / 2);
    margin-right: calc(var(--loader-button-margin) / 2);
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: var(--loader-button-border-radius);
    position: relative;
}

#loader-slots .loader-slot h1 {
    color: var(--color-white);
    position: absolute;
    top: -60px;
    width: 120px;
    height: 60px;
    user-select: none;
    background-color: var(--loader-button-text-color);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0;
}

#loader-slots .loader-slot button {
    margin-bottom: var(--loader-button-margin);
}

.loader-bar {
    height: var(--loader-logo-width);
    border-radius: 5px;
    margin: auto 0;
    align-self: flex-start;
    justify-self: flex-start;
    transition: var(--loader-fade-in) opacity;
    transition-timing-function: ease-in;
    cursor: pointer;
    opacity: 0;
}

.loader-bar svg {
    width: 100%;
    height: 100%;
}

.loader-bar:hover {
    filter: invert(100%);
    /*box-shadow: 0 0 10px 0 var(--color-white);*/
}

#loader-icon {
    width: var(--loader-logo-width);
    transition: var(--loader-fade-in) opacity;
    transition-timing-function: ease-in;
}

#loader-icon.invisible {
    opacity: 0;
}

#loader-icon svg {
    width: 100%;
    height: 100%;
}

#loader-icon svg path {
    fill: var(--loader-logo-color);
}

#loader.finished .loader-button button {
    pointer-events: none;
}

.loader-button {
    width: 25%;
    height: var(--loader-button-height);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--loader-button-margin);
    opacity: 0;
    transition: var(--loader-button-fade-in) opacity;
    transition-timing-function: ease-in;
}

.loader-button.loaded {
    opacity: 1;
}

.loader-button button {
    width: 100%;
    transition: 0.5s opacity;
    background-color: var(--color-white);
    color: var(--loader-button-text-color);
    font-weight: bold;
    border-radius: var(--loader-button-border-radius);
}

.loader-button button:active {
    background-color: var(--color-fish-black);
    color: var(--color-white);
    transition: 0s;
}

.loader-button button.confirm {
    background-color: var(--color-fish-black);
    color: var(--color-white);
    transition: 0s;
}

.loader-button button.confirm:active {
    background-color: var(--color-white);
    color: var(--loader-button-text-color);
    transition: 0s;
}

#loader-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 0.5s opacity;
    position: absolute;
    top: 20px;
}

#loader-loading.invisible {
    opacity: 0;
    animation: none;
}

#loader-loading-text {
    color: var(--color-white);
    font-size: 1.5em;
    margin-left: 5px;
}

#loader-loading-icon{
    width: 20px;
    animation: flutter 1s ease-in-out infinite;
    transform-origin: top left;
}

@media only screen and (orientation: portrait) {
    #loader-slots {
        flex-direction: column;
        height: unset;

    }

    #loader-slots .loader-slot {
        flex-direction: row;
        width: 60%;
    }

    #loader-slots .loader-slot h1 {
        color: var(--color-white);
        position: absolute;
        left: -60px;
        bottom: 16px;
        /* top: -60px; */
        top: unset;
        width: 60px;
        height: 60px;
        user-select: none;
        background-color: var(--loader-button-text-color);
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        /*border-bottom-left-radius: 60px;*/
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin: 0;
        text-align: center;
        line-height: 60px;
        padding: 0;
    }

    #loader-slots .loader-slot button:nth-child(2) {
        border-bottom-left-radius: 0;
    }

    #loader-slots .loader-slot button:not(:last-child) {
        margin-right: 10px;
    }

    .loader-button {
        width: 60%;
    }
}

@media only screen and (orientation: landscape) {

}

/*  !* For Mobile Portrait View *!*/
/*@media screen*/
/*  and (max-device-width: 480px)*/
/*  and (orientation: portrait){*/
/*    html{*/
/*     background-color: red;*/
/*     width: 80%;*/
/*    }*/
/*}*/

/*!* For Mobile Landscape View *!*/
/*@media screen*/
/*  and (max-device-width: 640px)*/
/*  and (orientation: landscape){*/
/*   html{*/
/*      background-color: red;*/

/*    }*/
/*}*/

/*!* For Mobile Phones Portrait or Landscape View *!*/
/*@media screen*/
/*  and (max-device-width: 640px){*/
/*    html{*/
/*      background-color: red;*/

/*    }*/
/*}*/

@keyframes flutter {
  0% {
    transform: skew(0, 0) scale(1);
  }

  20% {
    transform: translateY(100%) skew(-10deg, -10deg) scale(1) translateY(-100%);
  }

  40% {
    transform: translateY(100%) skew(10deg, 10deg) scale(1.1) translateY(-100%);
  }

  60% {
    transform: translateY(100%) skew(-5deg, -5deg) scale(.9) translateY(-100%);
  }

  80% {
    transform: translateY(100%) skew(0deg, 0deg) scale(1) translateY(-100%);
  }

}