:root {
    --overlay-pointer-radius: 48px;
    --overlay-pointer-border: 8px;
    --overlay-pointer-color: #fffc;
    --overlay-pointer-animation-time: 1s;
    --overlay-pointer-animation-scale: 1.2;
    --overlay-text-width: 80%;
    --overlay-text-top: 16px;
    --overlay-text-padding: 32px;
}

@keyframes pointer-pulse {
    0% {transform: translate(-50%, -50%) scale(1)}
    25% {transform: translate(-50%, -50%) scale(var(--overlay-pointer-animation-scale))}
    100% {transform: translate(-50%, -50%) scale(1)}
}

#overlay .pointer {
    position: absolute;
    width: calc(2 * var(--overlay-pointer-radius));
    height: calc(2 * var(--overlay-pointer-radius));
    border-radius: calc(var(--overlay-pointer-radius) + var(--overlay-pointer-border));
    border: var(--overlay-pointer-border) solid var(--overlay-pointer-color);
    animation: pointer-pulse var(--overlay-pointer-animation-time) infinite;
    animation-timing-function: ease-in-out;
}

#overlay .text {
    width: var(--overlay-text-width);
    padding: var(--overlay-text-padding);
    margin-top: var(--overlay-text-top);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #db9c37cc;
    color: black;
    font-size: 32px;
    border-radius: 16px;
    border: 2px solid black;
}