:root {
    --overlay-element-color: #fffc;
    --overlay-pointer-animation-time: 1s;
    --overlay-pointer-radius: 48px;
    --overlay-pointer-border: 8px;
    --overlay-pointer-animation-scale: 1.2;
    --overlay-arrow-size: 80px;
    --overlay-arrow-spacing: 16px;
    --overlay-arrow-raise: 32px;
    --overlay-arrow-animation-time: 0.7s;
    --overlay-text-width: 65%;
    --overlay-text-top: 16px;
}

@keyframes pointer-pulse {
    0% {transform: translate(-50%, -50%) scale(1)}
    25% {transform: translate(-50%, -50%) scale(var(--overlay-pointer-animation-scale))}
    100% {transform: translate(-50%, -50%) scale(1)}
}

@keyframes arrow-bounce-down {
    0% {margin-top: calc(-1 * var(--overlay-arrow-spacing))}
    50% {margin-top: calc(-1 * (var(--overlay-arrow-spacing) + var(--overlay-arrow-raise)))}
    100% {margin-top: calc(-1 * var(--overlay-arrow-spacing))}
}

@keyframes arrow-bounce-left-up {
    0% {
        margin-left: calc(var(--overlay-arrow-spacing));
        margin-top: calc(var(--overlay-arrow-spacing));
    }
    50% {
        margin-left: calc((var(--overlay-arrow-spacing) + var(--overlay-arrow-raise)));
        margin-top: calc((var(--overlay-arrow-spacing) + var(--overlay-arrow-raise)));
    }
    100% {
        margin-left: calc(var(--overlay-arrow-spacing));
        margin-top: calc(var(--overlay-arrow-spacing));
    }
}

#overlay .pointer {
    position: absolute;
    width: calc(2 * var(--overlay-pointer-radius));
    height: calc(2 * var(--overlay-pointer-radius));
    border-radius: calc(var(--overlay-pointer-radius) + var(--overlay-pointer-border));
    border: var(--overlay-pointer-border) solid var(--overlay-element-color);
    animation: pointer-pulse var(--overlay-pointer-animation-time) infinite;
    animation-timing-function: ease-in-out;
}

#overlay .text {
    width: var(--overlay-text-width);
    margin-top: var(--overlay-text-top);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #db9c37cc;
    color: black;
    font-size: 32px;
    border-radius: 16px;
    border: 2px solid black;
}

.overlay-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: var(--overlay-arrow-size) solid var(--overlay-element-color);
    border-right: var(--overlay-arrow-size) solid transparent;
    transform-origin: left top;
}

.overlay-arrow.down {
    left: 50%;
    top: 0;
    animation: arrow-bounce-down var(--overlay-arrow-animation-time) infinite;
    animation-timing-function: ease-in-out;
    transform: rotate(-135deg);
}

.overlay-arrow.left-up {
    left: 100%;
    top: 100%;
    animation: arrow-bounce-left-up var(--overlay-arrow-animation-time) infinite;
    animation-timing-function: ease-in-out;
}