:root {
    --padding-top-notch: env(safe-area-inset-top);
}

body {
    margin: 0;
    font-family: Grandstander;
    background: var(--color-shrubbery-leaf);
}

#wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#gui {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#gui #cards {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#gui #overlay {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Adjust padding for devices with a notch */
@media only screen and (orientation: portrait) {
    .notch-padded {
        padding-top: max(env(safe-area-inset-top), 30px);
        padding-bottom: env(safe-area-inset-bottom); /* iOS 11.2+ */
    }
}