body {
    margin: 0;
    font-family: Grandstander;
}

#wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#gui {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#gui #cards {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#gui #overlay {
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}