:root {
    /* Plant colors */
    --color-grass-a: #ba9650;
    --color-grass-b: #81552e;
    --color-cattail-leaf: #905e43;
    --color-cattail-stalk: #7d7468;
    --color-cattail-capsule: #dece9c;
    --color-shrubbery-stalk: #765044;
    --color-shrubbery-leaf: #794231;
}